[core]
  editor = vim
  excludesfile = ~/.gitignore-global
  autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[includeIf "gitdir:~/dev/personal/"]
  path = ~/dev/personal/.gitconfig-personal
[includeIf "gitdir:~/dev/work/"]
  path = ~/dev/work/.gitconfig-work
[color "diff"]
  meta = "yellow bold"
  commit = "green bold"
  frag = "magenta bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[status]
  showUntrackedFiles = all
  showStash=true
  short=true
[transfer]
  fsckobjects = true
[rerere]
	enabled = true
[pull]
	rebase = false
[push]
	followTags = true
